form input {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

form label {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

form .form-floating {
    margin-bottom: 10px;
}
